@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  font-size: 14px;
  background: #ffffff;
}
button {
  font-size: 14px;
}
button:hover {
  box-shadow: 0px 1px 10px #b8c6d6;
}
button:active {
  transform: scale(0.99);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section__preview {
  font-weight: 600;
  font-size: 24px;
  color: #3029d9;
  margin-bottom: 20px;
}
.section__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 68px;
  color: #0b1131;
}
.section__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #b8c6d6;
  margin-bottom: 24px;
}

/* Header */

.header {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding-top: 42px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.burger {
  display: none;
}

.label-burger {
  display: none;
  top: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  position: fixed;
  width: 26px;
  height: 26px;
}

.label-burger span,
.label-burger span::before,
.label-burger span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #cecece;
}
.label-burger span::before {
  content: '';
  top: -8px;
}
.label-burger span::after {
  content: '';
  top: 8px;
}
.burger:checked ~ .header__list {
  opacity: 1;
  visibility: visible;
  transition: 0.25s;
}

.header__logo__img {
  margin-right: 18px;
}
.header__logo__text {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}
.header__list {
  transition: 0.25s;
  display: flex;
}
.header__item {
  margin: 0 18px;
  list-style-type: none;
}
.header__link {
  position: relative;
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
  display: inline-block;
}
.header__item.header__item_active .header__link {
  opacity: 1;
}
.header__item-bottom-border {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  background: #ffffff;
  width: 22px;
  height: 2px;
  border-radius: 100px;
  opacity: 0;
  margin: 0 auto;
  margin-top: 5px;
  transition: 0.5s;
}
.header__item:hover .header__item-bottom-border {
  opacity: 1;
  transition: 0.5s;
}
.header__item:hover .header__link {
  opacity: 1;
}
.header__btn {
  color: #ffffff;
  font-weight: 600;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 9px 18px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

/* Intro */

.intro {
  background: url(img/intro__man.png) no-repeat 80% 100%,
    radial-gradient(50% 50% at 50% 50%, #5975ff 0%, #3029d9 100%);
  padding-top: 205px;
  margin-bottom: 115px;
}
.intro__inner {
  display: flex;
}
.intro__left {
  max-width: 475px;
}
.intro__title {
  font-weight: bold;
  font-size: 94px;
  color: #ffffff;
  line-height: 128px;
  margin-bottom: 30px;
}
.intro__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 30px;
}
.intro__btn {
  cursor: pointer;
  color: #ffffff;
  border: none;
  background: #111849;
  border-radius: 4px;
  padding: 9px 51px;
  margin-bottom: 115px;
}

/* Team */

.team__inner {
  display: flex;
}
.team__title {
  margin-bottom: 20px;
  max-width: 610px;
}
.team__subtitle {
  max-width: 475px;
}
.team__btn {
  background: #3029d9;
  border-radius: 4px;
  padding: 9px 19px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.team__right {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  max-height: 420px;
  margin-top: 190px;
  margin-bottom: 200px;
}
.team__img {
  background: rgba(48, 41, 217, 0.25);
  box-shadow: 0px 10px 50px rgba(48, 41, 217, 0.2);
  width: 275px;
  height: 170px;
}
.team__img:nth-child(2n-1) {
  margin-right: 23px;
}
.team__img-n1 {
  margin-bottom: 23px;
  border-radius: 80px 0px 80px 80px;
}
.team__img-n2 {
  margin-top: -60px;
  border-radius: 80px 80px 80px 0px;
}
.team__img-n3 {
  border-radius: 80px 0px 80px 80px;
}
.team__img-n4 {
  margin-top: -60px;
  border-radius: 80px 80px 80px 0px;
}
.team__number {
  font-size: 44px;
  line-height: 68px;
  color: #3029d9;
  margin-left: 50px;
  display: block;
  margin-top: 37px;
}
.team__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-left: 50px;
  display: block;
  color: #3029d9;
}

/* Offer */

.offer {
  margin-bottom: 270px;
}
.offer__preview {
  text-align: center;
}
.offer__title {
  text-align: center;
  margin-bottom: 85px;
}
.offer__cards {
  display: flex;
  justify-content: space-between;
}
.offer__card {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 444px;
  max-height: 444px;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 10px 100px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: url(svg/offer__bg-effect.svg) 75% 0%;
}
.offer__card-img {
  width: 88px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.offer__card-number {
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 9px;
}
.offer__card-title {
  font-size: 24px;
  line-height: 68px;
  color: #ffffff;
}
.offer__card-subtitle {
  line-height: 28px;
  color: #ffffff;
  opacity: 0.5;
  max-width: 293px;
  margin: 0 auto;
}
.offer__card_2 {
  background: url(svg/offer__bg-effect-2.svg) 75% 0%, #3029d9;
  box-shadow: 0px 10px 100px 10px rgba(0, 0, 0, 0.1);
}
.offer__card_3 {
  background: url(svg/offer__bg-effect-2.svg) 75% 0%, #111849;
  box-shadow: 0px 10px 100px 10px rgba(0, 0, 0, 0.1);
}
.offer__card-img_w {
  width: 88px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.offer__card-number_w {
  color: #0b1131;
  opacity: 0.5;
  margin-bottom: 9px;
}
.offer__card-title_w {
  font-size: 24px;
  line-height: 68px;
  color: #0b1131;
}
.offer__card-subtitle_w {
  line-height: 28px;
  color: #0b1131;
  opacity: 0.5;
  max-width: 293px;
  margin: 0 auto;
}

/* Feature 1 */

.feature1 {
  margin-bottom: 180px;
  background: #3029d9;
  padding-top: 140px;
}
.feature1__inner {
  display: flex;
}
.feature1__left {
  max-width: 475px;
}
.feature1__preview {
  font-weight: 600;
  font-size: 24px;
  line-height: 68px;
  color: #5975ff;
}
.feature1__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 68px;
  color: #ffffff;
}
.feature1__subtitle {
  font-weight: 500;
  line-height: 28px;
  color: #b8c6d6;
  margin-top: 24px;
}
.feature1__btn {
  margin-top: 40px;
  margin-bottom: 140px;
  background: #111849;
  border-radius: 4px;
  padding: 9px 26px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.feature1__img {
  margin-left: 165px;
  position: relative;
  top: -230px;
  border-radius: 200px 0px 300px 300px;
}

/* Feature 2 */

.feature2 {
  margin-bottom: 180px;
}
.feature2__inner {
  display: flex;
}
.feature2__left {
  display: grid;
  grid-template-rows: 4;
  grid-template-columns: 2;
  gap: 36px 42px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-right: 95px;
  grid-template-areas:
    'a .'
    'a d'
    'c d'
    'c .';
}
.feature2__card {
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 290px;
  min-height: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feature2__card-div-img {
  width: 72px;
  height: 72px;
  background: #3029d9;
  box-shadow: 0px 10px 50px rgba(48, 41, 217, 0.3);
  border-radius: 100px 100px 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.feature2__card_1 {
  grid-area: a;
}
.feature2__card_2 {
  grid-area: c;
}
.feature2__card_3 {
  grid-area: d;
}
.feature2__card-span {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #0b1131;
}
.feature2__right {
  max-width: 475px;
}
.feature2__title {
  margin-bottom: 24px;
}

/* Service */

.service {
  margin-bottom: 180px;
}
.feature2__preview {
  text-align: center;
}
.feature2__title {
  text-align: center;
  margin-bottom: 100px;
}
.service__cards {
  display: flex;
  justify-content: space-between;
}
.service__card {
  max-width: 374px;
  max-height: 583px;
  box-shadow: 0px 10px 100px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.service__card-img {
  margin-bottom: 32px;
}
.service__card-preview {
  font-weight: 600;
  line-height: 28px;
  color: #3029d9;
  margin: 0 34px;
  margin-bottom: 8px;
}
.service__card-title {
  font-weight: bold;
  margin: 0 34px;
  font-size: 24px;
  line-height: 34px;
  color: #0b1131;
  margin-bottom: 8px;
}
.service__card-subtitle {
  margin: 0 34px;
  font-weight: 500;
  line-height: 28px;
  color: #0b1131;
  opacity: 0.5;
  max-width: 295px;
  margin-bottom: 14px;
}
.service__card-btn {
  font-weight: 600;
  margin: 0 34px;
  cursor: pointer;
  line-height: 21px;
  color: #ffffff;
  padding: 9px 18px;
  background: #3029d9;
  border-radius: 4px;
  margin-bottom: 34px;
  border: none;
}

/* Contact */

.contact {
  padding: 180px 0;
  background: url(img/contact-decorate.png) no-repeat, #111849;
  background-size: cover;
  margin-bottom: 75px;
}
.contact__inner {
  margin: 0 auto;
  text-align: center;
}
.contact__preview {
  line-height: 68px;
  color: #5975ff;
}
.contact__title {
  line-height: 68px;
  color: #ffffff;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 27px;
}
.contact__btn {
  font-weight: 600;
  line-height: 21px;
  color: #ffffff;
  background: #3029d9;
  border-radius: 4px;
  cursor: pointer;
  padding: 9px 18px;
  border: none;
}

/* Footer */

.footer {
  padding-bottom: 50px;
}

.footer__top-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.top-footer__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 35px;
}
.top-footer__logo-img {
  margin-right: 18px;
}
.top-footer__logo-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #0b1131;
}
.top-footer__col1-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  max-width: 266px;
  color: #a0abb8;
}
.top-footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 22px 76px;
  margin-top: 20px;
}
.top-footer__link {
  font-weight: 600;
  line-height: 21px;
  color: #0b1131;
  text-decoration: none;
}
.top-footer__socials-link {
  margin-left: 24px;
  text-decoration: none;
}
.footer__bottom-footer {
  display: flex;
  justify-content: space-between;
}
.bottom-footer__copyr {
  font-size: 12px;
  line-height: 24px;
  color: #a0abb8;
}
.bottom-footer__list {
  display: flex;
  list-style-type: none;
}
.bottom-footer__item {
  margin-left: 34px;
}
.bottom-footer__link {
  font-size: 12px;
  line-height: 24px;
  color: #a0abb8;
  text-decoration: none;
}

@media (max-width: 1150px) {
  .container {
    padding: 0 15px;
  }
  .section__subtitle {
    margin: 0 auto;
  }
  .header__inner,
  .footer__top-footer,
  .offer__cards,
  .feature2__inner,
  .team__inner {
    flex-direction: column;
  }
  .header__logo,
  .header__item {
    margin-bottom: 15px;
  }
  .intro {
    padding-top: 300px;
    background: #3029d9;
  }
  .intro__inner,
  .feature1__inner {
    justify-content: center;
    text-align: center;
  }
  .intro__inner {
    padding-bottom: 100px;
  }
  .intro__title {
    font-size: 60px;
    line-height: 58px;
  }
  .team__right {
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .team__btn {
    margin-top: 20px;
  }
  .team__left {
    margin: 0 auto;
    text-align: center;
  }
  .team__img {
    border-radius: 0;
    display: block;
    margin-top: 25px;
  }
  .team__right {
    max-height: none;
    margin-top: 20px;
  }
  .offer__card {
    padding: 20px 0;
  }
  .offer__title {
    margin-bottom: 40px;
  }
  .offer__card {
    background-image: none;
    border-radius: 0;
    min-width: 0;
    min-height: 0;
  }
  .offer,
  .feature1,
  .feature2,
  .service {
    margin-bottom: 100px;
  }
  .feature1__img,
  .bottom-footer__list {
    display: none;
  }
  .service__cards {
    flex-direction: column;
    align-items: center;
  }
  .service__card {
    margin-bottom: 20px;
  }
  .service__card,
  .service__card-img {
    max-width: 300px;
  }
  .feature2__preview {
    margin-top: 50px;
  }
  .feature2__right {
    margin: 0 auto;
  }
  .feature2__left {
    display: block;
    width: 100%;
  }
  .feature2__title {
    margin-bottom: 20px;
  }
  .feature2__card {
    min-width: none;
    min-height: 0;
    padding: 15px 0;
  }
  .footer__socials {
    margin-top: 15px;
  }
  .top-footer-links {
    gap: 11px 38px;
  }
  .footer__top-footer {
    margin-bottom: 20px;
  }
}

/* Adaptive */

@media (max-width: 640px) {
  .team__img {
    width: 200px;
  }
  .team__right {
    justify-content: center;
  }
  .section__title,
  .feature1__title {
    font-size: 36px;
    line-height: 46px;
  }
}

@media (max-width: 600px) {
  .label-burger {
    display: block;
  }
  .header__list {
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    background: #111849;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    /* height: 50vh; */
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    box-shadow: 1px 1px 100px #060285;
  }
  .intro {
    padding-top: 200px;
  }
  .header__btn,
  .team__right {
    display: none;
  }
  .team__btn {
    margin-bottom: 100px;
  }
  .footer {
    padding-bottom: 15px;
  }
}
